<md-toolbar layout="row">
		<h1>SEARCHING FOR GODOT</h1>
</md-toolbar>


<div id="search-container" layout="row" layout-margin>
	
	<md-input-container flex="30">
		<label>Search for a book!</label>
		<input type="text" ng-model="item" uib-typeahead="item as item.volumeInfo.title for item in searchCtrl.searchByTitle($viewValue)" ng-change="searchCtrl.searchByTitle(title)" />
		<md-button class="md-warn md-raised" ng-click="searchCtrl.clear()">CLEAR SELECTION</md-button>
	</md-input-container>

	<md-content flex="70">
		<md-card id="volume-content" ng-repeat="book in searchCtrl.bookTitleList" ng-model="searchCtrl.bookTitleList">
			<md-card-title>
				<md-card-title-media>
					<img style="width: 150px; heigh: 200px" ng-src="{{ book.volumeInfo.imageLinks.smallThumbnail }}"/>
        </md-card-title-media>
				<md-card-title-text>
					<h4 class="md-headline">{{ book.volumeInfo.title }}</h4>
				</md-card-title-text>
			</md-card-title>
				<md-card-content>
					<p>{{ book.volumeInfo.description }}</p>
				<md-card-actions>
					<md-button class="md-primary md-raised" ui-sref="preview({bookPreview: book})" ng-click="searchCtrl.selectThisBook(book)">View Book</md-button>
				</md-card-actions>
				</md-card-content>
		</md-card>
		<md-divider md-inset ng-if="searchCtrl.bookTitleList"></md-divider>
	</md-content>

</div>

