<md-toolbar layout="row">
		<h1>SEARCHING FOR GODOT</h1>
</md-toolbar>

<div id="content-container" flex layout="row">

	<md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">

	<md-input-container>
		<label>Search By Title</label>
		<input type="text" ng-model="searchCtrl.titleQuery" ng-change="searchCtrl.searchByTitle()" />
	</md-input-container>


	<md-input-container>
		<label>Search By Author</label>
		<input type="text" ng-model="authorQuery" ng-change="searchByAuthor()" />
	</md-input-container>

	</md-sidenav>	

	<md-content flex>

		<div id="volume-content" ng-repeat="book in searchCtrl.bookTitleList" ng-model="searchCtrl.bookTitleList">
			<h3>{{ book.volumeInfo.title }}</h3>
			<p>{{ book.volumeInfo.description }}</p>
			<img ng-src="{{ book.volumeInfo.imageLinks.thumbnail }}"/>
		</div>

	</md-content>

</div>